@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap');

:root {
    --color-primary-cyan: #024D58;
    --color-secondary-cyan: #0B4047;
    --color-neutral-pink: #F67E7F;
    --color-neutral-cyan: #79C8C7;

    /* font sizes */
    /* in rems so take note of html's font size */
    --body-one: .9rem;
    --body-two: .75rem;
}

*,
*::before,
*::after,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: 'Livvic', sans-serif;
    font-size: 20px;
}

body {
    color: #ffffff;
    background-color: var(--color-primary-cyan);
}

h1,
h2,
h3 { font-weight: bold; }


h1 {
    font-size: 5rem;
    line-height: 5rem;
}

h2 {
    font-size: 3.2rem;
    line-height: 2.8rem;
}

h3 {
    font-size: .9rem;
    line-height: 1.4rem;
}


a {
    color: white;
    text-decoration: none;
}

header {
    width: 100vw;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 1.25rem 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: .5rem 1rem;
}

nav>.nav--left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

nav>.nav--right {
    justify-self: flex-end;
}

section {
    position: relative;
    padding: 7rem 0 8rem 0;
}

section:nth-child(1) {
    background-color: var(--color-secondary-cyan);
}

@import './partials/utils';
/* section specific */
@import './partials/hero';
@import './partials/services';